<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>RucksacksTests</key>
		<dict>
			<key>testFileBadgeMode()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>6690.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>20.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>29900.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>20.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.002100</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>50.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.830000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>20.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>100.000000</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
